* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body {
	height: 100%;
}
.outer {
	background-color: #616161;
}
.bgContainer {
	background-color: #23231F;
	margin: 0 140px;
}

.container {
}
/*header starts here*/

.header {
	width: 100%;

	padding:10px 0;
}
.header .container {
}
.header-inline {
	display: flex;
	justify-content: space-between;
	align-items:center;
}
.header .logo {
	width: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header .logo img {
	height: 64px;
	width: 64px;
	display:block;
}
.header .logo h1 {
	font-size:20px;
	text-align:center;
	color:white;
}
.header-search {
	display: flex;
	width: 90%;
	padding-right:50px;
	height: 100%;
	align-items:center;
	justify-content: center;
	position:relative;
}
.header-search input{
	width: 60%;
	height: 60px;

	background-color: #fff;
	border-radius: 30px;
	padding:10px;
	padding-left:50px;
	font-size:24px;
	color:black;
}
.search-icon {
	height: 30px;
	width: 30px;
	position:absolute;
	top:15px;
	left:calc(50% - 30% + 5px);
	cursor:pointer;
}
.search-icon img{
	height: 30px;
	width: 30px;	
}
/*header ends here*/

/*underHeader starts here*/

.nav-links {
	display: flex;
	font-size:28px;
	justify-content: space-between;
	padding: 5px 100px;
	background-color: #9598a1;
}
.nav-links a {
	display: block;
	color: #fff;
	text-decoration: none;
}
/*underHeader ends here*/

/*main starts here*/


.main .container {
	background-color: #fff;
	padding: 25px 100px;
}

.main .container .bio {
	display: flex;
	padding-bottom:30px;
}

.main .bio .photo img {
	height:200px;
	width: 200px;
	border-radius: 50%;
}
.main .bio .bioText {
	padding: 20px 10px 10px 30px;
}
.main .bio .bioText > * {
	padding-top: 15px;
}
.main .bio .bioText > *:first-child {
	padding-top: 0;
}
.main .bio .bioText .name {
	font-size: 20px;
	font-weight: bold;
}
.main .events {
	border: 3px solid #9598a1;
	padding: 15px;
	border-radius: 10px;
	-webkit-box-shadow: 8px 8px 11px 1px rgba(149,152,161,1);
	-moz-box-shadow: 8px 8px 11px 1px rgba(149,152,161,1);
	box-shadow: 8px 8px 11px 1px rgba(149,152,161,1);
}
.main .events .event {
	padding: 8px 15px;
	margin-bottom: 20px;
	border: 1px solid black;
	border-radius: 10px;
	font-size: 20px;
	color: white;
	background-color: #9598a1;
	position: relative;
}
.main .events .green {
	background-color: #3f7843;
}
.main .events .red {
	background-color: #985259;
}
.main .events .event .click {
	width: 20px;
	height: 20px;
	background-image: url(../images/up-and-down-arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: calc(50% - 10px);
	border-radius: 5px;
	border: 2px solid black;
}
.main .events .event .eventText.textClamp {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}

/*main ends here*/

/*footer starts here*/
.footer {
	padding:15px;
}
.footer-links {
	display: flex;
	justify-content: center;
}
.footer a  {
	display: block;
	height: 64px;
	width: 64px;
	border-radius:50%;
	border: 2px white solid;
	margin-right: 30px;
	background-repeat: no-repeat;
	background-position: center;
	text-decoration:none;
	background-color: #fff;

}
.footer .phone {
	background-image: url(../images/phone.png);
}
.footer .mail {
	background-image: url(../images/email.png);
}
.footer .fb {
	background-image: url(../images/facebook.png);
}
.footer .tw-x {
	background-image: url(../images/twitter.png);
	margin-right:0px;
}
/*footer ends here*/




