* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #f9ffea;
    font-size: 20px;
}
.wrapper {
    width: 1280px;
    margin: 0 auto;
    min-height: 100vh;
}

/* start of header */
.header {
    background-color: #e9ffb2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding: 5px 15px;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    color:black;
    padding: 5px;
}
.nav a:hover {
    color: #e9ffb2 ;
    background-color: #acd052;
}
.logMenu p {
    padding: 5px;
    display: flex;
}
.header .decorate {
    background-color: #fafafa;
    border-radius: 5px;
    border: 2px solid black;
}

/* end of header */
/* start of search bar */

.searchBar {
    background-color: #e9ffb2;
    display: flex;
    padding: 5px 15px;
    margin-top: 5px;
    min-height: 50px;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.textSearch,
.moneySearch {
    display: flex;
    margin-right:50px;
}
.textSearch > *,
.moneySearch > * {
    margin-right:15px;
}
.searchBar > div:last-of-type{
    margin-left: auto;
    padding:5px;
}
.searchBar .decorate {
    background-color: #fafafa;
    border-radius: 5px;
    border: 2px solid black;
}
.searchButton {
    cursor: pointer;
}
.searchButton:hover {
    color: #e9ffb2 ;
    background-color: #acd052;
}
/* end of of search bar */

/* start of data */
#data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dataItem {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 1%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #ededed;
    position: relative;
    transition: 0s;
}
#data .dataItem .photo {
    width: 210px;
    height: 280px;
    background: 50% 50% no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.dataItem > * {
    padding-top: 10px;
}
.dataItem .wholeName {
    text-align: center;
}
.dataItem .jobTitle {
    
}
.dataItem .expand {
    background-image: url('../images/expand.256x256.png');
    background-size: cover;
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 5px;
    right: 5px;
}
.dataItem .close{
    background-image: url('../images/close.256x256.png');
    background-size: cover;
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
}
.dataItem.parentExpanded {
    display: flex !important;
    width:100%;
    max-width: 1280px;
    min-height: 600px;
    position: absolute;
    z-index: 1;
    transition: 0.5s;
    font-size:24px;
    background-color: #e9ffb2;
}



#data .dataItem .photo.changingPhoto {
    height: auto;
    width: auto;
    border-radius: 0;
}
#data .dataItem .textInputs {
    width: 100%;
    height: 100%;
}
.textInputs span {
    display: inline-block;
    width:270px;
    text-align: right;
}
.textInputs div {
    padding: 5px;
}
.textInputs input[type="text"],
.textInputs input[type="textarea"]{
    padding:5px;
    border:none;
    border-radius: 10px;
    font-size: 24px;
    width: calc(100% - 280px);
    text-indent: 10px;
}
.textInputs input[type="file"]{
    padding:5px;
    border:none;
    border-radius: 10px;
    font-size: 24px;
}
.textInputs input[type="checkbox"]{
    width: 20px;
    height: 20px;
}



.dataItem .change {
    background-image: url('../images/page-edit.219x256.png');
    background-size: cover;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 35px;
    top: 10%;
    right: 35%;
    display: inline ;
    text-align: left;
}

/* data change inputs and buttons */
.dataItem .save,
.dataItem .cancel,
.dataItem .removeFromDB {
    display: inline ;
    cursor: pointer;
    position: absolute;
    text-align: left; 
    padding: 5px 10px;
    bottom: 2%;
    width: auto;
    height: auto;
    border-radius: 10px;
    color: white;
}
.dataItem .save {
    background-color: #abd353;
    right: 5%;  
}
.dataItem .save:hover {
    color: #abd353;
    background-color: white;
}
.dataItem .cancel {
    background-color: #d3536a;
    right: 15%;
}
.dataItem .cancel:hover {
    color:#d3536a;
    background-color: white;
}
/* data change inputs and buttons end */
.dataItem .removeFromDB {
    background-color: #d3536a;
    left: 0;
    padding: 2px;
    bottom: 0;
    font-size: 16px;
}
.dataItem .removeFromDB:hover {
    color:#d3536a;
    background-color: white;
}


#data .hidden {
    display: none;
}