* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body {
	height: 100%;
	min-height:600px;

}
.outer {
	background-color: #616161;
	height:100vh;
	min-height:600px;
}
.bgContainer{
	height:100vh;
	background-color: #23231F;
	margin: 0 140px;
	min-height:600px;
	padding:10px 0;

}
/*header starts here*/

.header {
	width: 100%;
	height: 120px;
}
.container {

}
.header-inline {
	display: flex;
	justify-content: space-between;
	align-items:center;
}
.header .logo {
	width: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header .logo img {
	height: 64px;
	width: 64px;
	display:block;
}
.header .logo h1 {
	font-size:20px;
	text-align:center;
	color:white;
}
.header .connect {
	padding: 5px;
	cursor: pointer;
	padding-right:10px;
}
.header .connect a {
	color:#fff;
	text-decoration: none;
	font-size:24px;
}

/*header ends here*/

/*indexMain starts here*/
.indexMain {
	height:calc(100% - 120px - 64px);
}

.indexMain .container {
	display: flex;
	width: 100%;
	height:100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 150px;

}
.indexMain .siteName {
	font-size: 48px;
	color: white;
	font-weight: bold;
	padding-bottom:50px;
}
.indexMain .indexMain-search {
	position:relative;
}
.indexMain .indexMain-search input {
	width: 600px;
	height: 60px;
	background-color: #fff;
	border-radius: 30px;
	padding:10px;
	padding-left:50px;
	font-size:24px;
	color:black;
}
.indexMain .indexMain-search img {
	height: 30px;
	width: 30px;
	position:absolute;
	top:15px;
	right:93%;
	cursor:pointer;
}

/* indexMain ends here*/

/*footer starts here*/
.footer-links {
	display: flex;
	justify-content: center;
}
.footer a  {
	display: block;
	height: 64px;
	width: 64px;
	border-radius:50%;
	border: 2px white solid;
	margin-right: 30px;
	background-repeat: no-repeat;
	background-position: center;
	text-decoration:none;
	background-color: #fff;

}
.footer .phone {
	background-image: url(../images/phone.png);
}
.footer .mail {
	background-image: url(../images/email.png);
}
.footer .fb {
	background-image: url(../images/facebook.png);
}
.footer .tw-x {
	background-image: url(../images/twitter.png);
	margin-right:0px;
}
/*footer ends here*/

@media (max-width: 900px){
	html,body {
		min-height:0;

	}
	.outer {
		min-height:0;
	}
	.bgContainer{
		min-height:0;
		margin: 0 15px;
	}
	.indexMain .container {
		padding-bottom: 0;
	}
	.indexMain .siteName {
		text-align: center;
	}
	.indexMain .indexMain-search input {
		width: 100%;
	}
	.indexMain .indexMain-search img {
		right: 85%;
	}
}